[data-theme="dark"] {
	--background: rgb(31 30 30);
	--background-secondary: rgb(45 45 45);
	--border: rgb(70 70 70);
	--text: rgb(255 255 255);
	--svg-fill: rgb(255 255 255);
	--text-secondary: rgb(200 200 200);
	--accent: rgb(88 101 242);
	--accent-hover: rgb(71 82 196);
	--error: rgb(237 66 69);
	--success: rgb(87 242 135);
	--shadow: rgb(0 0 0 / 20%);
	--card-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
	--input-background: rgb(55 55 55);
}

/* Fonts */
@font-face {
	font-family: Ubuntu;
	src: url("/public/assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Ubuntu Bold;
	src: url("/public/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Fira Code;
	src: url("/public/assets/fonts/Fira_code/FiraCode-Regular.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Ubuntu, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	background-color: var(--background);
	color: var(--text);
}
