body {
	display: flex;
	flex-direction: row;
}

/* sidebar */

.sidebar {
	background-color: var(--background-secondary);
	width: 220px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid var(--border);
	box-sizing: border-box;
}

.sidebar .actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.sidebar .actions .action {
	display: flex;
	justify-content: flex-start;
	gap: .5rem;
	align-items: center;
	padding: 1rem;
	height: 3rem;
	width: 100%;
	transition: background-color 0.2s ease;
	text-decoration: none;
	color: var(--text);
	box-sizing: border-box;
}

.sidebar .actions .action svg {
	width: 15px;
	height: 15px;
}

.sidebar .actions .action:hover {
	background-color: var(--background);
}

.sidebar .actions .action.active {
	background-color: var(--background);
}

.sidebar .actions .action.active:hover {
	background-color: var(--background-secondary);
}

.sidebar .user-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-top: 1px solid var(--border);
	background-color: rgba(0 0 0 / 10%);
}

.sidebar .user-area img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.sidebar .user-area .username {
	margin-top: 1rem;
	font-weight: bold;
	color: var(--text);
}
